.block.vimeo-block
  include ../block/common
  .body
    .video-container
      iframe(
        width='1280'
        height='720'
        src='//player.vimeo.com/video/#{id}'
        frameborder='0'
        allowfullscreen
      )

